{{!
    @template block_myoverviewcustom/back-to-categories

    A simple back-to-categories button.
}}

<button class="btn btn-secondary back-to-categories mb-3" type="button">
    ← {{#str}} backtocategories, block_myoverviewcustom {{/str}}
</button>
